.center{
  text-align: center;
}

.button{
  background-color: #f2f2f2;
  color: #5F6368;
  border-radius: 4px;
  border: 1px solid #f2f2f2;
  font-size: 14px;
  padding: 0 16px;
  margin: 11px 4px;
  font-family: arial,sans-serif;
  line-height: 27px;
  height: 36px;
  min-width: 54px;
  text-align: center;
}

#nav-top{
  text-align: top;
}

#nav-right{
  float: right;
  padding-right: 30px;
}

.label {
  float: left;
  display: inline-block; 
}

.RNNXgb {
  padding-top: 109px;
  height: 92px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#hplogo{
  height: 92px;
}

#img-logo{
  text-align: left !important;
  height: 46px; 
}

.searchbox{
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  width: 484px;
  max-width: 484px;
  height: 44px;
  z-index: 3;
  margin: 0 auto;
}

.adv-search{
  background-color: #357ae8;
  border: 1px solid #2f5bb7;
  color: #fff;
  border-radius: 2px;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
}

.adv-label{
  color: #d93025;
  margin-left: 10px;
  font-size: 20px;
  margin: 25px 35px;
}

#adv-top{
  background-color: #f1f1f1;
  line-height: 58px;
}


/* Extra CSS that isn't necessary:

@media only screen and (max-width:380px) body {
  display: block;
  font-size: small;
  background: #fff;
  color: #222;
  font-family: arial,sans-serif;
  margin: 8px;
}

div#searchbox {
  border-radius: 24px;
  border: 1px solid #dfe1e5;
  padding: 20px;
  width: 200px;
  height: 44px;
}

div#viewport{
  position: absolute;
  top: 0;
  width: 100%;
}*/

/*.form{
  background: #fff;
  display: block;
  box-shadow: none;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
  width: 200px;
  margin: 0 auto;
  padding: 20px;
}

button:hover {
  border: 1px solid #f2f2f2;
}



.content{
  margin: 0 auto;
  position: relative;
  padding-top: 6px;
  width:auto;
  max-width: 484px;
}*/
